@import url("https://fonts.cdnfonts.com/css/gilroy-medium");
@import url("https://fonts.cdnfonts.com/css/gilroy-regular");
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.quiz-overlay {
  font-family: "Gilroy-Medium", sans-serif;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.final-page,
.quiz-modal {
  box-sizing: border-box;
  padding-bottom: 0;
  width: calc(100vw - 20px);
  height: calc(100vh - 40px);
  max-height: 650px;
  max-width: 1200px;
  background: #fff;
  gap: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.final-page-body {
  padding: 24px 16px;
  max-width: 630px;
  margin: auto;
}

.final-page-title {
  color: #363636;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}

.final-page-subtitle {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(54, 54, 54, 0.7);
}

.final-page-form {
  padding: 24px 16px;
  padding-top: 0;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.messengers-title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
}

.messengers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.messengers-item {
  cursor: pointer;
  padding: 13px;
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: solid 1px #ebebeb;
  background-color: #ededed;
  color: #363636;
  font-weight: 500;
}

.b-checkbox {
  display: flex;
  gap: 8px;
}

[data-input-checkbox] {
  display: none;
}

.b-checkbox.checkbox input[type="checkbox"] + .check-input {
  width: 15px;
  min-width: 15px;
  min-height: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #e8e8e8;
  color: #e8e8e8;
  font-size: 15px;
}

.b-checkbox.checkbox input[type="checkbox"]:checked + .check-input {
  background: #d34085;
  color: #fff;
  font-weight: 700;
}

.control-label {
  color: rgb(54, 54, 54) !important;
  font-size: 12px;
  text-align: left;
}

.control-label a {
  color: #d34085;
}

.quiz-sidebar {
  padding: 20px;
  margin: 0 15px;
  max-height: 200px;
  background: rgb(247, 247, 247);
  border-radius: 40px 40px 40px 0;
  grid-area: sidebar;
  transition: max-height 0.5s ease-in-out;
}

.toggle-sidebar {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.quiz-sidebar.show .toggle-sidebar {
  transform: rotate(180deg);
}

.quiz-sidebar.show {
  max-height: 400px;
}

.quiz-sidebar.show .assistant-mobile-text {
  max-height: 300px;
}

.assistant-person {
  display: grid;
  gap: 10px;
  grid-template-columns: 50px 1fr 40px;
}

.assistant-avatar {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.assistant-avatar img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.assistant-avatar-badge {
  position: absolute;
  border-radius: 50%;
  display: block;
  border: 2px solid #fff;
  background-color: #1bb157;
  width: 12px;
  height: 12px;
  top: 56px;
  left: 56px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  display: none;
}

.assistant-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
}

.assistant-title {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2px 0;
  color: #2e2e54;
  line-height: 1.125;
}

.assistant-subtitle {
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 12px;
  color: #69748c;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
}

.assistant-block {
  padding-top: 8px;
  display: none;
}

.assistant-text {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: "Gilroy-Medium", sans-serif;
  background: #fff;
  padding: 5px 10px;
  color: #2e2e49;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
}

.assistant-mobile-status {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #11983f;
}

.assistant-mobile-text {
  color: #2e2e54;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  max-height: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

.quiz-title {
  padding: 15px 15px 11px 15px;
  color: #363636;
  font-size: 18px;
  height: 40px;
  margin: 0 0 11px 0;
  line-height: 1.2;
  font-weight: 500;
}

.quiz-navbar {
  grid-area: navbar;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 16px;
  display: flex;
  height: 100px;
}

.progress-bar {
  flex-grow: 2;
  margin-right: 40px;
}

.progress-bar-label {
  font-size: 12px;
  text-align: left;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #fff;
}

.progress-bar-label span {
  font-size: 14px;
  color: #d34085;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
}

.progress-bar-field {
  height: 6px;
  position: relative;
  background: #dbdbdb;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px hsla(0, 0%, 100%, 0.3);
}

.progress-bar-field span {
  display: block;
  height: 100%;
  border-radius: 20px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#b72a6b),
    to(#dd699f)
  );
  background-image: linear-gradient(90deg, #b72a6b, #dd699f);
  -webkit-box-shadow: inset 0 2px 9px hsla(0, 0%, 100%, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4), 0.6px 1.9px 7px 0 var(--color-alpha);
  box-shadow: inset 0 2px 9px hsla(0, 0%, 100%, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4), 0.6px 1.9px 7px 0 var(--color-alpha);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.progress-bar-field span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 100%, 0.08) 25%,
    transparent 0,
    transparent 50%,
    hsla(0, 0%, 100%, 0.08) 0,
    hsla(0, 0%, 100%, 0.08) 75%,
    transparent 0,
    transparent
  );
  z-index: 1;
  background-size: 20px 20px;
  -webkit-animation: move 1.5s linear infinite;
  animation: move 1.5s linear infinite;
  border-radius: 20px;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 20px;
  }
}

.quiz-navbar-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quiz-navbar-btn-prev {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-navbar-btn-next:disabled,
.quiz-navbar-btn-prev:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.quiz-navbar-btn-next {
  cursor: pointer;
  background: #d34085;
  box-shadow: 0 3px 10px 0 rgba(211, 64, 133, 0.5);
  padding: 10px 16px 10px 22px;
  border-radius: 24px;
  border: none;
  color: #fff;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  height: 43px;
  gap: 5px;
}

.quiz-navbar-btn-next svg {
  fill: #fff;
}

.quiz-navbar-btn-prev svg {
  fill: rgba(0, 0, 0, 0.4);
}

.gallery {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery-card {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.gallery-card.active {
  outline: 1px solid #d34085;
}

.gallery-info {
  padding: 5px 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.gallery-box-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-title {
  font-size: 14px;
  font-weight: 500;
  color: rgba(54, 54, 54, 0.7);
  font-family: "Gilroy-Medium", sans-serif;
}

.check {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #d34085;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}

.check span {
  display: block;
  border-radius: 50%;
  background: #d34085;
  width: 22px;
  height: 22px;
}

.gallery-card.active .check {
  display: flex;
}

.radio-list {
  display: grid;
  gap: 16px;
}

.radio-item {
  cursor: pointer;
  padding: 13px 16px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.radio-item.active {
  border: 1px solid #d34085;
}

.radio-check {
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-item.active .radio-check {
  border: 1.6px solid #d34085;
}

.radio-item.active .radio-check span {
  display: block;
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background: #d34085;
}

.radio-text {
  margin: 0;
  font-family: "Gilroy-Regular", sans-serif;
  font-weight: 400;
  color: #363636;
  font-size: 16px;
}

.textarea-question,
.input-question {
  padding: 8px 14px;
  background: #ededed;
  border: 1.2px solid #b1b5be;
  color: #363636;
  height: 60px;
  width: 100%;
  border-radius: 4px;
  font-size: 24px;
}

.textarea-question,
.input-question:focus {
  outline: none;
}

.textarea-question {
  height: 190px;
  background: #fff;
}

.file-uploader {
  position: relative;
  text-align: center;
  height: 50vh;
  max-height: 250px;
  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.file-uploader-tag {
  display: inline-flex;
  align-items: center;
  color: rgb(54, 54, 54);
  gap: 5px;
  font-size: 11px;
  margin: 0;
  padding: 4px 8px;
  background: rgba(211, 64, 133, 0.2) !important;
  border: solid 1px #d34085;
  border-radius: 4px;
}

.file-uploader-tag .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d34085;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: #fff;
}

.file-uploader:hover {
  border-color: #e693ba;
  background: rgba(211, 64, 133, 0.2);
}

.file-uploader-title {
  margin: 16px 0 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #69748c;
}
.file-uploader-subtitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.31;
  color: #69748c;
  margin: 10px 0 0 0;
}

.file-uploader-label {
  position: absolute;
  top: 30px;
  left: 30px;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.file-uploader:hover .file-uploader-label {
  color: #d34085;
}

.drop-area {
  cursor: pointer;
}

.delete-file {
  cursor: pointer;
  border: none;
  min-height: 10px;
  min-width: 10px;
  border-radius: 50%;
  font-weight: 700;
  color: #fff;
  background: #8d2053;
}

.file-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.os-scrollbar-track {
  background: #e6e6e6 !important;
}
.os-scrollbar-handle {
  background: #d34085 !important;
}

.quiz-title {
  margin: 0;
  grid-area: title;
  height: fit-content;
}

.quiz-content {
  flex-grow: 2;
  overflow-y: auto;
  padding: 0 15px;
}

.messengers-modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.messengers-label {
  text-transform: uppercase;
  padding: 17px 0 10px 0;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  word-break: break-all;
  text-align: left;
  color: rgba(54, 54, 54, 0.7);
}

.messengers-modal-footer {
  cursor: pointer;
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(211, 64, 133);
}

.messengers-name {
  text-transform: capitalize;
}

.iti--allow-dropdown,
#mobile-number {
  width: 100%;
}

.lead-form-button {
  margin-top: 15px;
  white-space: normal;
  min-height: 50px;
  overflow: hidden;
  width: 100%;
  color: #fff;
  background-color: #d34085;
  box-shadow: 0 3px 10px 0 rgba(211, 64, 133, 0.5);
  will-change: box-shadow;
  font-size: 18px;
  border-radius: 24px;
  cursor: pointer;
  margin-bottom: 15px;
  border: none;
}

.lead-form-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#mobile-number {
  padding: 0 15px;
  font-size: 16px;
  height: 60px;
  border: none;
  outline: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
}

.form {
  display: none;
}

.form.show {
  display: block;
}

.mtb-15 {
  margin: 15px 0;
}

@media screen and (min-width: 768px) {
  .quiz-modal {
    display: grid;

    grid-template-rows: max-content 1fr 100px;
    grid-template-areas:
      "title"
      "content"
      "navbar";
    gap: 0;
    padding: 0;
    width: calc(100vw - 20px);
    height: calc(100vh - 100px);
  }
  .quiz-modal.sidebar {
    grid-template-columns: 1fr 260px;
    grid-template-areas:
      "title sidebar"
      "content sidebar"
      "navbar sidebar";
  }

  .assistant-block,
  .assistant-avatar-badge,
  .assistant-name {
    display: block;
  }
  .toggle-sidebar,
  .assistant-mobile-text,
  .assistant-mobile-status {
    display: none;
  }
  .quiz-modal .quiz-sidebar {
    margin: 0;
    min-height: 100%;
    border-top-left-radius: 0;
  }
  .quiz-title {
    font-size: 28px;
  }
  .quiz-content {
    padding-bottom: 0;
    overflow-y: hidden;
    display: grid;
  }
  .quiz-navbar {
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 30px;
    margin: 0;
  }
  .progress-bar-label {
    color: #363636;
  }
  .progress-bar-label span {
    color: #d34085;
  }
  .quiz-main {
    height: inherit;
    grid-template-rows: calc(100% - 85px) 80px;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .radio-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .final-page {
    justify-content: center;
    align-items: center;
  }
  .final-page-container {
    text-align: center;
  }
  .final-page-form {
    position: relative;
    padding: 29px 35px 19px;
    border-radius: 3px;
    -webkit-box-shadow: 0 9px 40px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 9px 40px 0 rgba(0, 0, 0, 0.11);
    border: solid 1.2px #e8e8e8;
  }

  .assistant-person {
    display: flex;
    align-items: center;
  }
  .assistant-avatar {
    position: relative;
    width: 70px;
    height: 70px;
  }
}
